<h1>Admin Dashboard</h1>

<h3>Name: <%= current_user.name %></h3></br>
<%= link_to "Edit Admin Account", edit_admin_server_path(@dashboard.admin), class:"btn btn-default btn-padding" %>
<%= link_to "New Item", new_admin_item_path, class:"btn btn-default btn-padding" %>
<%= link_to "All Items", admin_items_path, class:"btn btn-default btn-padding" %>

<div class="container-fluid">
  <div class="row">
    <div class='col-md-4 col-md-offset-1 jumbotron'>
      <h3 class='header'>Servers</h3>
      <table class="admin-tables admin-tables-height">
        <thead>
          <tr><th>Server</th><th>Role</th></tr>
        </thead>
        <tbody>
          <% @dashboard.servers.each do |server|%>
          <tr id="server_<%= server.id %>">
              <td><%= server.name %></td>
              <td>
                <%= form_for server, url: admin_server_path(server) do |f| %>
                  <%= f.collection_select :role, @dashboard.roles, :role, :role, {:id=>'server-dropdown'}  %>
              </td>
              <td>
                <%= f.submit "Update", class: "btn btn-info" %>
              </td>
              <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class='col-md-4 col-md-offset-1 jumbotron'>
      <h3 class="header">Items</h3>
      <table class="admin-tables admin-tables-overflow table-responsive">
        <tr><th>Name</th><th>Price</th><th>Category</th></tr>
        <% @dashboard.items.each do |item|%>
        <tr class="item_<%= item.id %>">
            <td><%= link_to item.name, edit_admin_item_path(item) %></td>
            <td><%= number_to_currency(item.price, :unit => "$") %></td>
            <td><%= item.category.name %></td>
        </tr>
        <% end %>
      </table>
    </div>

    <div class='col-md-4 col-md-offset-1 jumbotron table-responsive'>
      <div class="order_partial admin-table-orders admin-div-overflow">
        <%= form_tag(admin_dashboard_path, method: "get") do %>
        <%= collection_select :order, :status, @dashboard.unique_statuses, :status, :status, {include_blank: "all"}  %></br>
        <%= submit_tag "Submit", class: "btn btn-info btn-padding" %>
        <% end %>
        <%= render partial: "order_list" %>
      </div>
    </div>

    <div class='col-md-4 col-md-offset-1 jumbotron'>
      <h3 class="header">Orders</h3>
      <table class="table-orders admin-tables-height table-responsive" style="font-size:18px; margin-left:-12%;">
        <tr>
          <% @dashboard.order.statuses.each do |status| %>
          <th> <%= status.capitalize %></th>
          <% end %>
        </tr>
        <tr>
          <% @dashboard.order.status_count.each do |status_id, count| %>
          <td> <%= count %> </td>
          <% end %>
        </tr>
      </table>
    </div>

  </div>
</div>
