<h1>Admin Dashboard</h1>

<h3>Name: <%= current_user.name %></h3></br>
<%= link_to "Edit Admin Account", edit_admin_server_path(@dashboard.admin), class:"btn btn-default btn-padding" %>
<%= link_to "New Item", new_admin_item_path, class:"btn btn-default btn-padding" %>
<%= link_to "All Items", admin_items_path, class:"btn btn-default btn-padding" %>

<div class="container-fluid">
  <div class="row">
    
    <%= render partial: "server_list" %>

    <%= render partial: "item_list" %>

    <%= render partial: "status_list" %>

    <%= render partial: "status_count" %>

  </div>
</div>
