<h3><%= link_to "Order #{@order.id}", order_path(@order) %> : <%= @order.status.capitalize %></h3>
<h5> Ordered by: <%= @order.server.name %></h5>
<h5> Username: <%= @order.server.username %> </h5>

<% if @order.completed_or_cancelled? == false %>
  <%= render partial: "payment_button" %>
<% end %>

<div class="orders-width center-block jumbotron">
  <table class="table-font table table-hover table-orders">
    <thead>
      <tr><th>Item</th><th>Price</th><th>Quantity</th><th>Subtotal</th></tr>
    </thead>
    <tbody>
      <% @order.prep_for_show.each do |(item, quantity, subtotal)| %>
      <tr>
        <td><%= link_to item.name, item_path(item.id) %></td>
        <td><%= number_to_currency(item.price, :unit =>"$")%></td>
        <td><%= quantity %></td>
        <td><%= number_to_currency(subtotal, :unit => "$") %></td>
      </tr>
      <% end %>
      <tr>
        <td></td><td></td>
        <td>Total</td>
        <td><%= number_to_currency(@order.total, :unit => "$") %></td>
      </tr>
    </tbody>
  </table>
  
  <p>
    <p>Order created at: <%= @order.created_at %></p>
  </p>
  
  <p>
    <% if @order.completed_or_cancelled? %>
    <p>Order <%= @order.status %> at <%= @order.updated_at %></p>
    <% end %>
  </p>

</div>
