<h3 class="header-font">All Items:</h3>

<div class="jumbotron table-responsive">
  <table class="table table-hover table-bticketed table-condensed">
    <tr> <th class="center-content">Name</th> <th class="center-content">Price</th><th class="center-content">Quantity</th></tr>
      <% @ticket.items.each do |item, quantity| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= number_to_currency(item.price, :unit => "$") %></td>
          <td><%= form_tag update_ticket_path do %>
              <%= text_field_tag "quantity", quantity%>
              <%= hidden_field_tag "item_id", item.id%>
          </td>
          <td><%= button_tag "Update", class: "btn btn-info" %><td>
              <% end %>
          <td><%= button_to "Remove", ticket_path(item.id), method: "delete", class:"btn btn-danger"%> </td>
      <% end  %>
    </tr>
  </table>
  <% if logged_in? %>
    <%= button_to "Submit Ticket", create_order_path(current_user.id), method: "post", class:"btn btn-success" %>
  <% else %>
    <p><%= button_to "Login", login_path, class:"btn btn-success", id:"ticket_login" %> or <%= button_to "Create Account", login_path, class:"btn btn-success" %> to Submit Ticket</p>
  <% end %>
</div>
