<h3 class="header-font">Item <%= @item.name %>:</h1>

<div class="jumbotron table-responsive">
  <table class="table table-hover table-bticketed table-condensed table-font">
    <tr> <th class="center-content">Name</th> <th class="center-content">Price</th><th></th><th></th></tr>
      <tr>
          <td><%= @item.name %></td>
          <td><%= number_to_currency(@item.price, :unit => "$") %></td>
          <% if @item.avatar_file_name.nil? %>
            <td><%= image_tag 'missing.png', class: "missing-image-resize"%></td>
          <% else %>
            <td><%= image_tag @item.avatar.url(:square), class: "image-styles" %></td>
          <% end %>
                
          <% if @item.retired == "N" %>
            <td><%= button_to "Add to Ticket", create_ticket_path(item_id: @item.id), class: "btn btn-success" %></td>
          <% else %>
            <td>Item Retired</td>
          <% end %>
      </tr>
  </table>
</div>